.wpfl-login-form-container {
    width: 100%;
    max-width: 600px;
}

.wpfl-alert {
    padding: .65rem 1rem;
    margin-bottom: 1rem;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 0.25rem;
}

.wpfl-alert-login {
    display: none;
}

.wpfl-alert-success {
    border-color: #01bb54;
}

.wpfl-alert-error {
    border-color: #c51200;
}

.wpfl-input {
    display: block;
    width: 100%;
}

.wpfl-from-group {
    margin-bottom: 1rem;
}

.wpfl-from-group-submit {
    display: flex;
    justify-content: space-between;
}